{% include "header.html" %}
    <section>
        <div class="section white-background p-t-100 p-b-100">
            <div class="container">
                <!-- Heading Section-->
                <div class="heading-section-1">
                    <h3>Ordenes</h3>
                </div>
                <div class="section white-background" style="margin-top: 30px">
                    <table id="freeze-table" class="table table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>N Pedido</th>
                                <th>Costo</th>
                                <th>Estado</th>
                                <th>Detalle</th>
                                <th> Verificar pedido </th>
                            </tr>
                        </thead>
                        <tbody id="orders">

                        </tbody>
                    </table>
                    <!--table class="table table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Precio Unitario</th>
                                <th>Total</th>
                                <th>Estado</th>
                                <th>Operaciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>h</td>
                                <td>h</td>
                                <td>h</td>
                                <td>h</td>
                                <td>h</td>
                                <td>h</td>
                                <td>h</td>
                            </tr>
                            <tr>
                                <td>h</td>
                                <td>h</td>
                                <td>h</td>
                                <td>h</td>
                                <td>h</td>
                                <td>h</td>
                                <td>h</td>
                            </tr>
                                {#% for test in tests %#}
                                <tr>
                                    <td>{{ test.number }}</td>
                                    <td>{{ test.name }}</td>
                                    <td>{{ test.category }}</td>
                                    <td>{{ test.labs }}</td>
                                    <td>{{ test.description }}</td>
                                    <td>{{ test.minimum_sample }}</td>
                                </tr>
                            {#% endfor %#}
                        </tbody>
                    </table-->
                </div>
            </div>
        </div>
    </section>

    <script>
        $( document ).ready(function() {
            var url = window.location.origin + "/api/";
            var  _doAjax = function (sType, uri, data, fnSuccess, fnError, _async) {
                 if (!data) data = {};
                 if (!fnError) fnError = this._defaultErrorHandler;
                 if (!_async) _async = true;
                 $.ajax({
                     type: sType,
                     url: url + uri,
                     data: data,
                     async: _async,
                     contentType: "application/json; charset=utf-8",
                     dataType: "json",
                     success: fnSuccess,
                     error: fnError
                 });
            };

            var currentOrder = {};

            var getCurrency = function (value) {
                return '$' + value.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
            };

            $( "#changing" ).click(function() {
                getDetails(currentOrder);
            });

            var getDetails = function (order) {
                var tbody = "";
                var total = 0;
                $.each(order.items, function( index, value ) {
                    total += value.quantityTotal*value.product.price;
                    tbody +=   "<tr>"
                             +   "<td>" + value.product.name + "</td>"
                             +   "<td>" + value.quantityTotal + "</td>"
                             +   "<td>" + getCurrency(value.product.price) +"</td>"
                             + "</tr>";
                });
                $( "#nOrder" ).empty().append( order.id );
                $( "#status" ).empty().append( order.orders[0].Status );
                $( "#products" ).empty().append( tbody );
                $( "#totalOrder" ).empty().append( getCurrency (total) );
                $( "#dateOrder" ).empty().append( order.createdDate );
            };

            var setCheckingOrder = function (order) {
                currentOrder = order;
                $( "#nOrder2" ).empty().append( order.id );
                $( "#direccion" ).empty().append( order.orders[0].deliveryAddress );
                $( "#deliveryDate" ).empty().append( order.orders[0].statusDate );
                $( "#PaymentMethod" ).empty().append( order.orders[0].PaymentMethod );

                var total = 0, discount = 0;
                $.each(order.items, function( index, value ) {
                    total += value.quantityTotal*value.product.price;
                });
                $( "#discount" ).empty().append( getCurrency (discount));
                $( "#subtotal" ).empty().append( getCurrency (total));
                $( "#totalOrder2" ).empty().append(getCurrency ( total - discount));
            };

            var getOrders = function () {
                _doAjax("GET", "shoppingcar",{},function (resp) {
                    //console.log(resp)
                    var tbody = "";
                    $.each(resp, function( index, value ) {
                        var total = 0;
                        //console.log(value)
                        $.each(value.items, function( index2, value2 ) {
                            //console.log(value2)
                            total += value2.quantityTotal*value2.product.price;
                        });
                        tbody = tbody
                            + "<tr>"
                            + "<td>" + value.id + "</td>"
                            + "<td>" + getCurrency(total) + "</td>"
                            + "<td>" + value.orders[0].Status + "</td>"
                            + "<td id='" + value.id + "'><a href='#' data-toggle='modal' data-target='#details'>Ver detalle</a>" + "</td>"
                            + "<td id='" + value.id + "'><a href='#' data-toggle='modal' data-target='#checkingOrder'>Check</a></td>"
                            + "</tr>";
                    });
                    //console.log(tbody)
                    $( "#orders" ).empty().append( tbody );

                    $('td').click(function () {
                        var col = $(this).parent().children().index($(this));
                        //console.log(col)
                        //console.log($(this).attr("id"))
                        if( col == 3 || col == 4 ) {
                             _doAjax("GET", "shoppingcar/" + $(this).attr("id"),{},function (resp) {
                                 //console.log(resp);
                                 if(col == 3)
                                    getDetails(resp);
                                 else
                                     setCheckingOrder(resp);

                             },null,true);
                        }
                    });

                },null,true);
            };
            getOrders();
        });
    </script>

        <!-- Modal -->
    <div id="checkingOrder" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Detalle de pedido # <span id="nOrder2"></span> </h4>
          </div>
          <div class="modal-body">
              <div class="row" >
                  <div class="col-lg-6">
                    <table class="table table-condensed table-striped">
                      <tbody>
                        <tr>
                            <td>
                                <strong> Dirección:</strong> <span id="direccion"></span><br>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong> Fecha de entrega:</strong> <span id="deliveryDate"></span><br>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong> Método de pago:</strong> <span id="PaymentMethod"></span><br>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong> Productos: </strong>
                                <a id="changing" href="" data-toggle='modal' data-target='#details' >Modificar</a>
                            </td>
                        </tr>
                      </tbody>
                  </table>

                  </div>
                  <div class="col-lg-6">
                    <table class="table table-condensed table-striped">
                      <tbody>
                        <tr>
                            <td>
                                <button type="button" class="btn btn-primary">Realizar Pedido</button>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <strong> Sub total:</strong>
                            </td>
                            <td class="alnright">
                                <span id="subtotal"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong> Descuento:</strong>
                            </td>
                            <td class="alnright">
                                <span id="discount">0</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong> Total: </strong>
                            </td>
                            <td class="alnright">
                                <span id="totalOrder2" ></span>
                            </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

    <!-- Modal -->
    <div id="details" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Detalle de pedido # <span id="nOrder"></span> </h4>
          </div>
          <div class="modal-body">
              <strong>Estado: </strong><span id="status"> </span>
              <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody id="products">

                </tbody>
              </table>
              <strong> Total: </strong> <span id="totalOrder" ></span> <br>
              <strong> Fecha: </strong> <span id="dateOrder" ></span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

{% include "footer.html" %}
