{% include "header.html" %}
{% load static %}

<section>
    <div class="section primary-color-background">
        <div class="container">
            <div class="p-t-70 p-b-85">
                <!-- Heading page-->
                <div class="heading-page-1">
                    <h3 id="category_name">Canastas</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="section border-bottom-grey">
        <div class="container">
            <div class="breadcrumb-1">
                <ul>
                    <li>
                        <a href="{% url 'index' %}">Inicio</a>
                    </li>
                    <li>
                        <a href="#">Canastas</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="page-content p-t-40 p-b-70">
    <div class="container">
        <div class="m-t-30">
            <!-- .product-category-widget-1-->
            <div class="product-category-widget-1">
                <div class="heading-widget text-center">
                    <h3>LISTADO DE CANASTAS</h3>
                </div>

                <table class="table jumbotron" id="baskets-list" style="max-width:500px; margin: 0 auto; padding:24px;" >
                    <thead>
                      <tr>
                        <th>Canasta</th>
                        <th>Precio</th>
                        {% if user.is_superuser %} <th style="text-align:center;">Eliminar</th>{% endif %}
                      </tr>
                    </thead>
                    <tbody id="baskets-table">

                    </tbody>
                </table>
                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                    <div class="heading-widget text-center" style="margin-top: 1cm;">
                            <a class="au-btn au-btn-radius au-btn-border btn-submit-comments" href="{% url 'basketList'%}" class="title">Editar canastas</a>
                    </div>
                    {% endif %}
                {% endif %}
            </div>
            <!-- end .product-category-widget-1-->
        </div>

        {% if user.is_authenticated %}

            {% if user.is_superuser %}
                <br><hr id="admin_flag" class="style2" data-admin="{{user.is_superuser}}"><br>
                <!-- .add-comments-1-->
                <div class="add-comments-1 " style="max-width:450px; margin-left:6.5cm;">
                    <div class="heading-widget text-center">
                    <h3>AGREGAR CANASTA</h3>
                    </div>
                    <p class="introduce">Cree una nueva canasta llenando los campos presentados a continuación</p>
                    <form class="submit-form " id="new-basket-form" style="">
                        <div class="form-group">
                            <label for="basketName">Nombre</label>
                            <input type="text" class="form-control" id="basketName" placeholder="Nombre de la canasta">
                        </div>
                        <div class="form-group">
                            <label for="basketPrice">Precio</label>
                            <input type="text" class="form-control" id="basketPrice" placeholder="Precio de la canasta">
                        </div>
                        <div class="form-group">
                            <label for="basketDescription">Descripción</label>
                            <input type="text" class="form-control" id="basketDescription" placeholder="Descripción de la canasta">
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" id="descriptionActive">
                                Activada
                            </label>
                        </div>
                        <button class="au-btn au-btn-radius au-btn-border btn-submit-comments" id="post-basket"
                                type="submit" style="margin-left:4.3cm;">ENVIAR
                        </button>
                    </form>
                </div>
                <!-- end .add-comments-1-->
            {% endif %}

        {% endif %}

    </div>
</div>

{% include "footer.html" %}
    <script src="../static/js/basketsAdmin.js"></script>
<!--
End Document
==================================================
-->

</body>

</html>
