
{% include "header.html" %}
{% load static %}

<section>
    <div class="section primary-color-background">
        <div class="container">
            <div class="p-t-70 p-b-85">
                <!-- Heading page-->
                <div class="heading-page-1">
                    <h3 id="basket_name">Canastas</h3>
                    <h4 id="basket_description" style="color:white;"></h4>
                </div>
            </div>
        </div>
    </div>
    <div class="section border-bottom-grey">
        <div class="container">
            <div class="breadcrumb-1">
                <ul>
                    <li>
                        <a href="{% url 'index' %}">Inicio</a>
                    </li>
                    <li>
                        <a href="#">Canastas</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="page-content p-t-40 p-b-70">
    <div class="container">

        <div class="row">

            <div class="col-md-9 col-md-push-3">

            <div class="row" id="baskets_list">
                <!-- products-by-category-->

            </div>
            </div>
            <div class="col-md-3 col-md-pull-9">

                <div class="m-t-30">
                    <!-- .product-category-widget-1-->
                    <div class="product-category-widget-1">
                        <div class="heading-widget">
                            <h3>CANASTAS</h3>
                        </div>
                        <ul class="product-category-list" id="basket-names-list">
                            <!-- .product-categories-->

                        </ul>
                    </div>
                    <!-- end .product-category-widget-1-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="totals-checkout text-right" id="basket-actions" style="display:none;">
                <h4 id="basket-total"></h4>
                <button class="au-btn au-btn-radius au-btn-primary" onclick="javascript:window.history.back();">VOLVER</button>
            </div>
        </div>
    </div>
</div>


{% include "footer.html" %}
    <script src="../static/js/baskets.js"></script>
<!--
End Document
==================================================
-->

</body>

</html>