
{% include "header.html" %}

<section>
    <div class="section primary-color-background">
        <div class="container">
            <div class="p-t-70 p-b-85">
                <!-- Heading page-->
                <div class="heading-page-1">
                    <h3>Our Products</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="section border-bottom-grey">
        <div class="container">
            <div class="breadcrumb-1">
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="shop-list-with-sidebar.html">Shop</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="page-content p-t-40 p-b-70">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-push-3">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <!-- .product-1-->
                        <div class="product-1">
                            <div class="product-image">
                                <div class="image-holder">
                                    <img src="images/product-item-01.jpg" alt="Egg free mayo" />
                                </div>
                                <div class="product-status hot">
                                    <span>HOT</span>
                                </div>
                                <div class="product-action">
                                    <div class="product-action-list">
                                        <div class="action-item">
                                            <a class="fa fa-search-plus" href="#" data-toggle="modal" data-target="#myModal" data-toggle-tooltip="tooltip" data-placement="top" title="Quick view"></a>
                                        </div>
                                        <div class="action-item">
                                            <a class="fa fa-shopping-cart" href="shopping-cart.html" data-toggle-tooltip="tooltip" data-placement="top" title="Add to cart"></a>
                                        </div>
                                        <div class="action-item">
                                            <a class="fa fa-heart" href="wishlist-page.html" data-toggle-tooltip="tooltip" data-placement="top" title="Add to wishlist!"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3 class="title">
                                    <a class="name" href="product-details-1.html">Egg free mayo</a>
                                </h3>
                                <p class="price">$ 10.00</p>
                            </div>
                        </div>
                        <!-- end .product-1-->
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <!-- .product-1-->
                        <div class="product-1">
                            <div class="product-image">
                                <div class="image-holder">
                                    <img src="images/product-item-02.jpg" alt="Organic broccoli" />
                                </div>
                                <div class="product-action">
                                    <div class="product-action-list">
                                        <div class="action-item">
                                            <a class="fa fa-search-plus" href="#" data-toggle="modal" data-target="#myModal" data-toggle-tooltip="tooltip" data-placement="top" title="Quick view"></a>
                                        </div>
                                        <div class="action-item">
                                            <a class="fa fa-shopping-cart" href="shopping-cart.html" data-toggle-tooltip="tooltip" data-placement="top" title="Add to cart"></a>
                                        </div>
                                        <div class="action-item">
                                            <a class="fa fa-heart" href="wishlist-page.html" data-toggle-tooltip="tooltip" data-placement="top" title="Add to wishlist!"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3 class="title">
                                    <a class="name" href="product-details-1.html">Organic broccoli</a>
                                </h3>
                                <p class="price">$2.29 /bunch</p>
                            </div>
                        </div>
                        <!-- end .product-1-->
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <!-- .product-1-->
                        <div class="product-1">
                            <div class="product-image">
                                <div class="image-holder">
                                    <img src="images/product-item-03.jpg" alt="Strawberries" />
                                </div>
                                <div class="product-status sale">
                                    <span>SALE</span>
                                </div>
                                <div class="product-action">
                                    <div class="product-action-list">
                                        <div class="action-item">
                                            <a class="fa fa-search-plus" href="#" data-toggle="modal" data-target="#myModal" data-toggle-tooltip="tooltip" data-placement="top" title="Quick view"></a>
                                        </div>
                                        <div class="action-item">
                                            <a class="fa fa-shopping-cart" href="shopping-cart.html" data-toggle-tooltip="tooltip" data-placement="top" title="Add to cart"></a>
                                        </div>
                                        <div class="action-item">
                                            <a class="fa fa-heart" href="wishlist-page.html" data-toggle-tooltip="tooltip" data-placement="top" title="Add to wishlist!"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3 class="title">
                                    <a class="name" href="product-details-1.html">Strawberries</a>
                                </h3>
                                <p class="price">$5.99 /ea</p>
                            </div>
                        </div>
                        <!-- end .product-1-->
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <!-- .product-1-->
                        <div class="product-1">
                            <div class="product-image">
                                <div class="image-holder">
                                    <img src="images/product-item-05.jpg" alt="Fresh cherry" />
                                </div>
                                <div class="product-action">
                                    <div class="product-action-list">
                                        <div class="action-item">
                                            <a class="fa fa-search-plus" href="#" data-toggle="modal" data-target="#myModal" data-toggle-tooltip="tooltip" data-placement="top" title="Quick view"></a>
                                        </div>
                                        <div class="action-item">
                                            <a class="fa fa-shopping-cart" href="shopping-cart.html" data-toggle-tooltip="tooltip" data-placement="top" title="Add to cart"></a>
                                        </div>
                                        <div class="action-item">
                                            <a class="fa fa-heart" href="wishlist-page.html" data-toggle-tooltip="tooltip" data-placement="top" title="Add to wishlist!"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3 class="title">
                                    <a class="name" href="product-details-1.html">Fresh cherry</a>
                                </h3>
                                <p class="price">$12.48 /bag</p>
                            </div>
                        </div>
                        <!-- end .product-1-->
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <!-- .product-1-->
                        <div class="product-1">
                            <div class="product-image">
                                <div class="image-holder">
                                    <img src="images/product-item-06.jpg" alt="Juice carrot &amp; apple" />
                                </div>
                                <div class="product-status new">
                                    <span>NEW</span>
                                </div>
                                <div class="product-action">
                                    <div class="product-action-list">
                                        <div class="action-item">
                                            <a class="fa fa-search-plus" href="#" data-toggle="modal" data-target="#myModal" data-toggle-tooltip="tooltip" data-placement="top" title="Quick view"></a>
                                        </div>
                                        <div class="action-item">
                                            <a class="fa fa-shopping-cart" href="shopping-cart.html" data-toggle-tooltip="tooltip" data-placement="top" title="Add to cart"></a>
                                        </div>
                                        <div class="action-item">
                                            <a class="fa fa-heart" href="wishlist-page.html" data-toggle-tooltip="tooltip" data-placement="top" title="Add to wishlist!"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3 class="title">
                                    <a class="name" href="product-details-1.html">Juice carrot &amp; apple</a>
                                </h3>
                                <p class="price">$10.00</p>
                            </div>
                        </div>
                        <!-- end .product-1-->
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <!-- .product-1-->
                        <div class="product-1">
                            <div class="product-image">
                                <div class="image-holder">
                                    <img src="images/product-item-07.jpg" alt="Organic banana" />
                                </div>
                                <div class="product-action">
                                    <div class="product-action-list">
                                        <div class="action-item">
                                            <a class="fa fa-search-plus" href="#" data-toggle="modal" data-target="#myModal" data-toggle-tooltip="tooltip" data-placement="top" title="Quick view"></a>
                                        </div>
                                        <div class="action-item">
                                            <a class="fa fa-shopping-cart" href="shopping-cart.html" data-toggle-tooltip="tooltip" data-placement="top" title="Add to cart"></a>
                                        </div>
                                        <div class="action-item">
                                            <a class="fa fa-heart" href="wishlist-page.html" data-toggle-tooltip="tooltip" data-placement="top" title="Add to wishlist!"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3 class="title">
                                    <a class="name" href="product-details-1.html">Organic banana</a>
                                </h3>
                                <p class="price">$2.76 /bunch</p>
                            </div>
                        </div>
                        <!-- end .product-1-->
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <!-- .product-1-->
                        <div class="product-1">
                            <div class="product-image">
                                <div class="image-holder">
                                    <img src="images/product-item-04.jpg" alt="Fresh drinks" />
                                </div>
                                <div class="product-action">
                                    <div class="product-action-list">
                                        <div class="action-item">
                                            <a class="fa fa-search-plus" href="#" data-toggle="modal" data-target="#myModal" data-toggle-tooltip="tooltip" data-placement="top" title="Quick view"></a>
                                        </div>
                                        <div class="action-item">
                                            <a class="fa fa-shopping-cart" href="shopping-cart.html" data-toggle-tooltip="tooltip" data-placement="top" title="Add to cart"></a>
                                        </div>
                                        <div class="action-item">
                                            <a class="fa fa-heart" href="wishlist-page.html" data-toggle-tooltip="tooltip" data-placement="top" title="Add to wishlist!"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3 class="title">
                                    <a class="name" href="product-details-1.html">Fresh drinks</a>
                                </h3>
                                <p class="price">$ 20.00</p>
                            </div>
                        </div>
                        <!-- end .product-1-->
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <!-- .product-1-->
                        <div class="product-1">
                            <div class="product-image">
                                <div class="image-holder">
                                    <img src="images/product-item-09.jpg" alt="Carrots" />
                                </div>
                                <div class="product-action">
                                    <div class="product-action-list">
                                        <div class="action-item">
                                            <a class="fa fa-search-plus" href="#" data-toggle="modal" data-target="#myModal" data-toggle-tooltip="tooltip" data-placement="top" title="Quick view"></a>
                                        </div>
                                        <div class="action-item">
                                            <a class="fa fa-shopping-cart" href="shopping-cart.html" data-toggle-tooltip="tooltip" data-placement="top" title="Add to cart"></a>
                                        </div>
                                        <div class="action-item">
                                            <a class="fa fa-heart" href="wishlist-page.html" data-toggle-tooltip="tooltip" data-placement="top" title="Add to wishlist!"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3 class="title">
                                    <a class="name" href="product-details-1.html">Carrots</a>
                                </h3>
                                <p class="price">$2.29 /bunch</p>
                            </div>
                        </div>
                        <!-- end .product-1-->
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <!-- .product-1-->
                        <div class="product-1">
                            <div class="product-image">
                                <div class="image-holder">
                                    <img src="images/product-item-10.jpg" alt="Red cabbage approx" />
                                </div>
                                <div class="product-action">
                                    <div class="product-action-list">
                                        <div class="action-item">
                                            <a class="fa fa-search-plus" href="#" data-toggle="modal" data-target="#myModal" data-toggle-tooltip="tooltip" data-placement="top" title="Quick view"></a>
                                        </div>
                                        <div class="action-item">
                                            <a class="fa fa-shopping-cart" href="shopping-cart.html" data-toggle-tooltip="tooltip" data-placement="top" title="Add to cart"></a>
                                        </div>
                                        <div class="action-item">
                                            <a class="fa fa-heart" href="wishlist-page.html" data-toggle-tooltip="tooltip" data-placement="top" title="Add to wishlist!"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3 class="title">
                                    <a class="name" href="product-details-1.html">Red cabbage approx</a>
                                </h3>
                                <p class="price">$3.00 /bunch</p>
                            </div>
                        </div>
                        <!-- end .product-1-->
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <!-- .product-1-->
                        <div class="product-1">
                            <div class="product-image">
                                <div class="image-holder">
                                    <img src="images/product-item-11.jpg" alt="Lemon" />
                                </div>
                                <div class="product-action">
                                    <div class="product-action-list">
                                        <div class="action-item">
                                            <a class="fa fa-search-plus" href="#" data-toggle="modal" data-target="#myModal" data-toggle-tooltip="tooltip" data-placement="top" title="Quick view"></a>
                                        </div>
                                        <div class="action-item">
                                            <a class="fa fa-shopping-cart" href="shopping-cart.html" data-toggle-tooltip="tooltip" data-placement="top" title="Add to cart"></a>
                                        </div>
                                        <div class="action-item">
                                            <a class="fa fa-heart" href="wishlist-page.html" data-toggle-tooltip="tooltip" data-placement="top" title="Add to wishlist!"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3 class="title">
                                    <a class="name" href="product-details-1.html">Lemon</a>
                                </h3>
                                <p class="price">$20.00</p>
                            </div>
                        </div>
                        <!-- end .product-1-->
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <!-- .product-1-->
                        <div class="product-1">
                            <div class="product-image">
                                <div class="image-holder">
                                    <img src="images/product-item-08.jpg" alt="Fresh celery root" />
                                </div>
                                <div class="product-action">
                                    <div class="product-action-list">
                                        <div class="action-item">
                                            <a class="fa fa-search-plus" href="#" data-toggle="modal" data-target="#myModal" data-toggle-tooltip="tooltip" data-placement="top" title="Quick view"></a>
                                        </div>
                                        <div class="action-item">
                                            <a class="fa fa-shopping-cart" href="shopping-cart.html" data-toggle-tooltip="tooltip" data-placement="top" title="Add to cart"></a>
                                        </div>
                                        <div class="action-item">
                                            <a class="fa fa-heart" href="wishlist-page.html" data-toggle-tooltip="tooltip" data-placement="top" title="Add to wishlist!"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3 class="title">
                                    <a class="name" href="product-details-1.html">Fresh celery root</a>
                                </h3>
                                <p class="price">$2.49 /bunch</p>
                            </div>
                        </div>
                        <!-- end .product-1-->
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <!-- .product-1-->
                        <div class="product-1">
                            <div class="product-image">
                                <div class="image-holder">
                                    <img src="images/product-item-12.jpg" alt="Acai berry 250ml" />
                                </div>
                                <div class="product-action">
                                    <div class="product-action-list">
                                        <div class="action-item">
                                            <a class="fa fa-search-plus" href="#" data-toggle="modal" data-target="#myModal" data-toggle-tooltip="tooltip" data-placement="top" title="Quick view"></a>
                                        </div>
                                        <div class="action-item">
                                            <a class="fa fa-shopping-cart" href="shopping-cart.html" data-toggle-tooltip="tooltip" data-placement="top" title="Add to cart"></a>
                                        </div>
                                        <div class="action-item">
                                            <a class="fa fa-heart" href="wishlist-page.html" data-toggle-tooltip="tooltip" data-placement="top" title="Add to wishlist!"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3 class="title">
                                    <a class="name" href="product-details-1.html">Acai berry 250ml</a>
                                </h3>
                                <p class="price">$10.00</p>
                            </div>
                        </div>
                        <!-- end .product-1-->
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-md-pull-9">

                <div class="m-t-30">
                    <!-- .product-category-widget-1-->
                    <div class="product-category-widget-1">
                        <div class="heading-widget">
                            <h3>PRODUCT CATEGORY</h3>
                        </div>
                        <ul class="product-category-list">
                            <li>
                                <a href="#">Fresh vegetables</a>
                                <span class="totals">(50)</span>
                            </li>
                            <li>
                                <a href="#">Apples</a>
                                <span class="totals">(10)</span>
                            </li>
                            <li>
                                <a href="#">Organic ingredients</a>
                                <span class="totals">(20)</span>
                            </li>
                            <li>
                                <a href="#">Sodas & juices</a>
                                <span class="totals">(10)</span>
                            </li>
                            <li>
                                <a href="#">Fresh vegetables</a>
                                <span class="totals">(50)</span>
                            </li>
                            <li>
                                <a href="#">Egg free mayo</a>
                                <span class="totals">(10)</span>
                            </li>
                        </ul>
                    </div>
                    <!-- end .product-category-widget-1-->
                </div>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}
    <script src="../static/js/catalogue.js"></script>
<!--
End Document
==================================================
-->

</body>

</html>