{% include "header.html" %}

<div id="payment_methods" class="page-content p-t-40 p-b-90" data-flag="{{flag}}" style="display:block;">
    <div class="container">
        <button id="add_btn1" type="button" style="margin-bottom: 1cm;" data-url="{% url 'addItemBasket'%}"  data-basket="{{basket.id}}" class="btn btn-success btn-sm">
                    Añadir Producto
        </button>
        <div id="add_product"  style="display:none;">
            <div class="container">
                <div class="form-group" style="margin-left: 1 cm;">
                    <label for="sel1">Selecccione un producto de la lista (*) :</label>
                    <select class="form-control" id="sel1">
                        <option>-</option>
                        {% for product in products %}
                        <option value="{{product.id}}">{{product.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <div>
                        <label for="ex1">Cantidad(*)</label>
                        <input class="form-control" id="ex1" type="text">
                    </div>
                </div>

                <button id="add_btn" type="button" style="margin-bottom: 1cm;" data-url="{% url 'addItemBasket'%}"  data-basket="{{basket.id}}" class="btn btn-success btn-sm">
                    Añadir
                </button>
            </div>
        </div>
        <div class="woocommerce shopping-cart-1">
            <form class="woocommerce-cart-form" action="#" method="post">
                <table class="shop_table shop_table_responsive cart woocommerce-cart-form__contents shopping-cart-content table-bordered">
                    <thead>
                    <tr>
                        <th class="product-thumbnail">PRODUCTO</th>
                        <th class="product-name">UNIDAD</th>
                        <th class="product-price">CANTIDAD</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}
                    <tr class="woocommerce-cart-form__cart-item cart_item shopping-cart-item">
                        <td class="product-name" data-title="Product">
                            <a href="#">{{item.product.name}}</a>
                        </td>
                        <td class="product-name" data-title="Product">
                            <a href="#">{{item.product.unit}}</a>
                        </td>
                        <td class="product-price" data-title="Price">
                                    <span class="woocommerce-Price-amount amount">
                                        <span class="woocommerce-Price-currencySymbol"></span>{{item.quantity}}</span>
                        </td>
                        <td class="product-remove" data-item="{{item.id}}" data-url="{% url 'removeItemBasket'%}"  data-basket="{{basket.id}}">
                            <a class="remove fa fa-close"></a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
        <!-- end wishlist-cart-1-->

    </div>
</div>
<button id="modalButton" style="display:none" type="button" class="btn btn-primary" data-toggle="modal"
        data-target="#exampleModalLong">
    Launch demo modal
</button>

<button id="modalPayment" style="display:none" type="button" class="btn btn-primary" data-toggle="modal"
        data-target="#payment">
    Launch demo modal
</button>

<div class="modal fade" id="payment" tabindex="-1" role="dialog" aria-labelledby="payment" aria-hidden="true">
    <div class="modal-dialog" role="document" data-backdrop="static" data-keyboard="false">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="paymentm">Compra Realizada</h5>
            </div>
            <div class="modal-body">
                Se ha agregado el producto a la canasta  exitosamente!
            </div>
            <div class="modal-footer">
                <button id="done" type="button" class="btn btn-success">Hecho</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal  Error -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Ha Ocurrido un Error!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Por favor, ingresa correctamente la información solicitada.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Entiendo</button>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}
<script src="../static/js/AdminBaskets.js"></script>

<!--
End Document
==================================================
-->

</body>

</html>