    <footer>
        <!--.footer-2-->
        <div class="footer-1 footer-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="footer-introduce">
                            <div class="footer-logo">
                                <img src="../static/images/icons/ic-logo-02.png" alt="logo ecofood"/>
                            </div>
                            <div class="footer-intro">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="footer-services">
                            <div class="footer-heading">
                                <h3>SERVICIOS AL CLIENTE</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul>
                                        <li>
                                            <a href="#">Información Ordenes</a>
                                        </li>
                                        <li>
                                            <a href="#">Envíos & Devoluciones</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'regProducer' %}">Registro Productor</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul>
                                        <li>
                                            <a href="#">Terminos & Condiciones</a>
                                        </li>
                                        <li>
                                            <a href="#">FAQs</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="footer-contact">
                            <div class="footer-heading">
                                <h3>CONTACTO</h3>
                            </div>
                            <ul>
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    Cra. 1 # 18a-12, Bogotá / Colombia
                                </li>
                                <li>
                                    <i class="fa fa-clock-o"></i>
                                    <span>Entrega de pedidos 02:00 Pm - 04:00 Pm</span>
                                </li>
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <span>(+571) 359 0173</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <ul class="footer-socials">
                        <li>
                            <a class="fa fa-facebook" href="#"></a>
                        </li>
                        <li>
                            <a class="fa fa-google-plus" href="#"></a>
                        </li>
                        <li>
                            <a class="fa fa-youtube" href="#"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end .footer-2-->

    </footer>

    <!-- quick-view-1-->
    <div class="modal fade quick-view-1" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button class="fa fa-close" type="button" data-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-5">
                            <!-- .product-detail-image-1-->
                            <div class="product-detail-image-1">
                                <div class="product-primary-image" id="product-detail-image">

                                </div>
                            </div>
                            <!-- end .product-detail-image-1-->
                        </div>
                        <div class="col-md-7">
                            <!-- .product-detail-content-1-->
                            <div class="product-detail-content-1">
                                <div class="product-name" id="product-detail-name">

                                </div>
                                <div class="product-cert">
                                    <a href="#">
                                        <img src="../static/images/icons/ic-product-cert-01.png" alt="product cert"/>
                                    </a>
                                    <a href="#">
                                        <img src="../static/images/icons/ic-product-cert-02.png" alt="product cert"/>
                                    </a>
                                    <a href="#">
                                        <img src="../static/images/icons/ic-product-cert-03.png" alt="product cert"/>
                                    </a>
                                </div>

                                <div class="product-price" id="product-detail-price">

                                </div>

                                <div class="product-introduce" id="product-detail-description">

                                </div>
                                <div class="prodcut-add-to-cart">

                                    <div class="form-group">
                                        <input class="input-size" type="text" placeholder="BIO"/>
                                        <input class="input-size" type="text" placeholder="ORG"/>
                                        <input class="input-size" type="text" placeholder="LIM"/>
                                        <button class="au-btn au-btn-primary au-btn-radius btn-add-to-cart" type="submit">AGREGAR AL CARRITO</button>
                                    </div>

                                    <!--<a class="au-btn au-btn-border au-btn-radius btn-add-to-wishlist" href="#">ADD TO
                                        WISHLIST</a> -->
                                </div>
                            </div>
                            <!-- end .product-detail-content-1-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end quick-view-1-->
    <div id="up-to-top">
        <i class="fa fa-angle-up"></i>
    </div>
    <!-- end page load-->
    <!--
    Javascripts
    ==================================================
    -->
    <script src="../static/vendor/jquery/dist/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../static/vendor/retinajs/dist/retina.min.js"></script>
    <script src="../static/vendor/SmoothScroll/SmoothScroll.js"></script>
    <script src="../static/js/switcher-custom.js"></script>
    <script src="../static/vendor/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="../static/vendor/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="../static/vendor/owl.carousel/dist/owl.carousel.min.js"></script>
    <!--
    | (Load Extensions only on Local File Systems !
    | The following part can be removed on Server for On Demand Loading)
    -->
    <script type="text/javascript"
            src="../static/vendor/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script type="text/javascript"
            src="../static/vendor/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript"
            src="../static/vendor/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript"
            src="../static/vendor/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript"
            src="../static/vendor/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript"
            src="../static/vendor/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript"
            src="../static/vendor/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript"
            src="../static/vendor/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="../static/js/revo-slider-custom.js"></script>
    <script src="../static/js/owl-custom.js"></script>
    <script src="../static/js/main.js"></script>