<!DOCTYPE html>

{% include "header.html" %}

<section>
    <div class="section white-background p-t-100 p-b-70">
        <div class="container">
            <!-- Heading Section-->
            <div class="heading-section-1">
                <h3>NUESTROS PRODUCTOS</h3>
            </div>

            <div class="row" id="products-carousel" style="margin-top: 50px;">

            </div>

        </div>
    </div>
</section>
<section>
    <div class="section primary-color-background">
        <div class="container">
            <!-- .deal-of-the-day-1-->
            <div class="deal-of-the-day-1" id="deal-of-the-day">

                <!-- .deal-of-the-day-->

            </div>
            <!-- end .deal-of-the-day-1-->
        </div>
    </div>
</section>
<section>
    <div class="section grey-background p-t-100 p-b-140">
        <div class="container" style="text-align:center;">
            <!-- Heading Section-->
            <div class="heading-section-1">
                <h3>NUESTROS PRODUCTORES</h3>
            </div>
            <div id="producers-carousel">
                <!-- Producers-->

            </div>
            <a class="au-btn au-btn-primary au-btn-radius btn-banner" href="/mapProducer">Ver en mapa</a>
        </div>
    </div>
</section>
<section class="m-t-200 m-b-60">
    <div class="section white-background">
        <div class="container">
            <!-- Heading Section-->
            <div class="heading-section-1">
                <h3>PRODUCTOS NATURALES</h3>
            </div>
            <div class="m-t-50">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <!-- .our-store-iconbox-1-->
                        <div class="our-store-iconbox-1">
                            <div class="iconbox-image pink">
                                <img src="http://templates.aucreative.co/ecofood/images/icons/ic-our-store-iconbox-1.png" alt="Eco systems &amp; biodiversity" />
                            </div>
                            <div class="iconbox-title">
                                <h3 class="title">
                                    <a href="#">Agricultura BIO</a>
                                </h3>
                            </div>
                            <div class="iconbox-content">
                                <p>Phasellus vel ante blandit, suscipit neque sed, egestas quam. Maecenas mi sem, tristique in cursus non, pharetra enim at sem.</p>
                            </div>
                        </div>
                        <!-- end .our-store-iconbox-1-->
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <!-- .our-store-iconbox-1-->
                        <div class="our-store-iconbox-1">
                            <div class="iconbox-image green">
                                <img src="http://templates.aucreative.co/ecofood/images/icons/ic-our-store-iconbox-2.png" alt="Certified organic standards" />
                            </div>
                            <div class="iconbox-title">
                                <h3 class="title">
                                    <a href="#">Productos orgánicos</a>
                                </h3>
                            </div>
                            <div class="iconbox-content">
                                <p>Integer vel erat nec purus feugiat tempor vitae vel ante. Ut mi mi, efficitur a augue ut, rhoncus iaculis ipsum. Vestibulum fringilla quam quis</p>
                            </div>
                        </div>
                        <!-- end .our-store-iconbox-1-->
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <!-- .our-store-iconbox-1-->
                        <div class="our-store-iconbox-1">
                            <div class="iconbox-image orange">
                                <img src="http://templates.aucreative.co/ecofood/images/icons/ic-our-store-iconbox-3.png" alt="Fair prices for you" />
                            </div>
                            <div class="iconbox-title">
                                <h3 class="title">
                                    <a href="#">Agricultura limpia</a>
                                </h3>
                            </div>
                            <div class="iconbox-content">
                                <p>Vestibulum purus felis, posuere ac lobortis at. Ut iaculis eros et erat sollicitudin, ut faucibus arcu ultricies. Suspendisse lobortis.</p>
                            </div>
                        </div>
                        <!-- end .our-store-iconbox-1-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="section white-background cover-background parallax-background"
         style="background: url(http://templates.aucreative.co/ecofood/images/banner-03.jpg) top center no-repeat;">
        <!-- banner-3-->
        <div class="banner-1 banner-2 banner-3">
            <div class="banner-content">
                <h3 class="banner-title">Recibe los mejores productos</h3>
                <p class="banner-subtitle">EN TU HOGAR</p>
                <a class="au-btn au-btn-primary au-btn-radius btn-banner" href="#">Horarios de entrega</a>
            </div>
        </div>
        <!-- end banner-3-->
    </div>
</section>
<section>
    <!-- START REVOLUTION SLIDER 5.0-->
    <div class="slider-2 slider-1">
        <div class="rev_slider" id="js-slider-1" style="display:none;">
            <ul>
                <li class="item-1" data-transition="fade">
                    <!-- MAIN IMAGE-->
                    <img class="rev-slidebg rev-slidebg" src="../static/images/carousel-06.jpg" alt="#"
                         data-bgposition="top center" data-bgfit="normal" data-bgrepeat="repeat-x" data-bgparallax="off"
                         data-no-retina="data-no-retina"/>
                    <h3 class="tp-caption tp-resizeme caption-1"
                        data-frames="[{&quot;from&quot;:&quot;y:50px;opacity:0;&quot;,&quot;speed&quot;:1500,&quot;to&quot;:&quot;o:1;&quot;,&quot;delay&quot;:1500,&quot;ease&quot;:&quot;Power4.easeOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:500,&quot;to&quot;:&quot;y:-50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power2.easeIn&quot;}]"
                        data-x="center" data-hoffset="['300', '0', '0', '0']" data-responsive="off" data-y="['center']"
                        data-voffset="['-150', '-150', '-150', '-150']" data-width="['700', '700', '700', '700']">
                        Productos orgánicos
                        <img class="tee" src="../static/images/icons/ic-tee.png" alt="tee" width="100" height="50"/>
                    </h3>
                    <div class="tp-caption tp-resizeme caption-2"
                         data-frames="[{&quot;delay&quot;:1600,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]"
                         data-x="center" data-hoffset="['300', '0', '0', '0']" data-width="['700', '700', '480', '480']"
                         data-y="['center']" data-voffset="['-30', '-30', '10', '10']" data-responsive="off">
                        Mauris felis libero, consequat ac tempor vel, finibus a dolor quisque quam facilisis vitae urna
                        sit amet, euismod blandit ante. Fusce malesuada pellentesque tristique.
                    </div>
                </li>
                <li class="item-1 item-2" data-transition="fade">
                    <!-- MAIN IMAGE-->
                    <img class="rev-slidebg rev-slidebg" src="../static/images/carousel-01.jpg" alt="#"
                         data-bgposition="top center" data-bgfit="normal" data-bgrepeat="repeat-x" data-bgparallax="off"
                         data-no-retina="data-no-retina"/>
                    <h3 class="tp-caption tp-resizeme caption-1"
                        data-frames="[{&quot;from&quot;:&quot;y:50px;opacity:0;&quot;,&quot;speed&quot;:1500,&quot;to&quot;:&quot;o:1;&quot;,&quot;delay&quot;:1500,&quot;ease&quot;:&quot;Power4.easeOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:500,&quot;to&quot;:&quot;y:-50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power2.easeIn&quot;}]"
                        data-x="center" data-hoffset="['-250', '0', '0', '0']" data-responsive="off" data-y="['center']"
                        data-voffset="['-200', '-150', '-250', '-250']" data-width="['700', '700', '480', '480']">
                        Ingredientes saludables</h3>
                    <div class="tp-caption tp-resizeme caption-2"
                         data-frames="[{&quot;delay&quot;:1600,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]"
                         data-x="center" data-hoffset="['-250', '0', '0', '0']"
                         data-width="['600', '700', '480', '450']" data-y="['center']"
                         data-voffset="['-80', '-30', '50', '-50']" data-responsive="off">
                        Integer sit amet mi quis ipsum vulputate tempor sit amet at lorem. Pellentesque ultricies
                        placerat erat, efficitur luctus urna venenatis nec.
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

{% include "footer.html" %}
    <script src="../static/js/index.js"></script>

<!--
End Document
==================================================
-->

</body>

</html>
