{% include "header.html" %}

<section>
    <div class="section primary-color-background">
        <div class="container">
            <div class="p-t-70 p-b-85">
                <!-- Heading page-->
                <div class="heading-page-1">
                    <h3>Métodos de Pago</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="section border-bottom-grey">
        <div class="container">
            <div class="breadcrumb-1">
                <ul>
                    <li>
                        <a onclick="location.href='{% url 'index' %}'">Home</a>
                    </li>
                    <li>
                        <a onclick="location.href='{% url 'paymentMethods' %}'">Métodos de Pago</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<div class="container" id="payment_methods" data-flag="{{flag}}">


</div>

<button id="new_method_btn" type="button" style="margin-left: 3cm; margin-bottom: 2cm;" class="btn btn-success btn-sm" >
    Agregar Medio de Pago
</button>

<div id="new_method" class="page-content p-t-40 p-b-90" style="display: none;">

</div>

<button id="modalButton" style="display:none" type="button" class="btn btn-primary" data-toggle="modal"
        data-target="#exampleModalLong">
    Launch demo modal
</button>

<button id="modalPayment" style="display:none" type="button" class="btn btn-primary" data-toggle="modal"
        data-target="#payment">
    Launch demo modal
</button>

<div class="modal fade" id="payment" tabindex="-1" role="dialog" aria-labelledby="payment" aria-hidden="true"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="paymentm">Operación Realizada</h5>
            </div>
            <div class="modal-body">
                Metodo de pago agregado!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="location.href='{% url 'paymentMethods' %}'">
                    Gracias
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Modal  Error -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Ha Ocurrido un Error!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Por favor, ingresa correctamente tu información de pago.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Entiendo</button>
            </div>
        </div>
    </div>
</div>
{% include "footer.html" %}
<script src="../static/js/payment_methods.js"></script>


</body>

</html>