/*ITEM STYLES*/

div.miso-prd-id {
  align-content: center;
  background-color: tomato;
  color: white;
  height: auto;
  width: 30%;
  position: absolute;
  font-size: 20px;
  border-bottom-right-radius: 50px;
  opacity: 0;
  transition: opacity .5s;
  z-index: 50;
}

div.product-1:hover .miso-prd-id {
  opacity: 100;
}
