/*ITEM STYLES*/

div.miso-prd-id {
  align-content: center;
  background-color: tomato;
  color: white;
  height: auto;
  width: 30%;
  position: absolute;
  font-size: 20px;
  border-bottom-right-radius: 50px;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: opacity .5s;
  z-index: 50;
}

div.product-1:hover .miso-prd-id {
  opacity: 100;
  filter: alpha(opacity=100);
}

div.product-status{
  z-index: 50;
}

div.product-action{
  z-index: 50;
}

div.miso-prd-qty {
  margin: auto;
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  z-index: 48;

  background-color: rgba(255,255,255,.3);
  color: rgba(200, 50, 50, .7);
  padding-top: 30%;
  text-align: center;
  font-size: 7em;

  opacity: 0;
  filter: alpha(opacity=0);
  transition: all .3s;
  -webkit-transition: all 0.3s;
}

div.product-1:hover .miso-prd-qty {
  opacity: 100;
  filter: alpha(opacity=100);
}
