<!DOCTYPE html>
<html>
  <head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #floating-panel {
        position: center;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
    </style>
  </head>
  <body onload="initMap">
    <div id="floating-panel">
        <form action="{% url 'index' %}">
            <input type="submit" value="Volver al Inicio" />
        </form>
    </div>
    <div id="map"></div>
    <script>

      var marker;
      var pos;
      var infowindow;
      var dataJsonProd;
      var Map

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -4.570868, lng: -74.29733299999998},
          zoom: 8
        });
        infoWindow = new google.maps.InfoWindow({map: map});

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            var geocoder = new google.maps.Geocoder;
            geocodeLatLng(geocoder, map, infowindow, pos)
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function toggleBounce() {
        if (marker.getAnimation() !== null) {
          marker.setAnimation(null);
        } else {
          marker.setAnimation(google.maps.Animation.BOUNCE);
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
      }

      function geocodeLatLng(geocoder, map, infowindow, pos) {
        var LatLng = pos;
        geocoder.geocode({'location': LatLng}, function(results, status) {
          if (status === 'OK') {
            if (results[1]) {
                console.log(results[1])
                tamanio = results[1].address_components.length;
                console.log(tamanio)
                var dir = results[1].formatted_address;
                var ciudad = (results[1].address_components[tamanio-3].long_name).toUpperCase();
                ciudad = quitaAcentos(ciudad);
                map.setZoom(11);
                marker = new google.maps.Marker({
                    draggable: true,
                    position: LatLng,
                    animation: google.maps.Animation.DROP,
                    map: map
                });
              marker.addListener('click', toggleBounce);
              map.setCenter(pos);
              infoWindow.setPosition(pos);
              infoWindow.setContent(dir);
              infoWindow.open(map,marker);
              searchProducer(ciudad);
            } else {
              window.alert('No results found');
            }
          } else {
            window.alert('Geocoder failed due to: ' + status);
          }
        });
      }

      function searchProducer(ciudad) {
        $.ajax({
            type: "GET",
            url: "{% url 'producers-list' %}"+"?city="+ciudad,
            dataType: "json",
            success: function(data, textStatus, xhr) {
                if (xhr.status == 200){
                    var infoWindow2 = new google.maps.InfoWindow(), markers,i;
                    for (i=0;i<data.length;i++){
                        var posProd = {
                            lat: data[i].latitude,
                            lng: data[i].longitude
                        };
                        markers = new google.maps.Marker({
                            draggable: true,
                            position: posProd,
                            animation: google.maps.Animation.DROP,
                            map: map,
                            title: data[i].name
                        });
                        attachMarkerMessage(markers,data[i]);
                    }
                }else{
                    alert("¡HA OCURRIDO UN ERROR EN LA SOLICITUD INTENTE DE NUEVO!");
                }
            },
            failure: function(error) {
                    alert("Hubo un error: " + error);
            }
        });
      }

      function attachMarkerMessage(markers,data){
        var infowindow2 = new google.maps.InfoWindow({
            content: data.name
        });

        markers.addListener('click', function() {
            infowindow2.open(markers.get('map'), markers);
        }, );
      }

      function quitaAcentos(str){
        for (var i=0;i<str.length;i++){
        //Sustituye "á é í ó ú"
            if (str.charAt(i)=="á") str = str.replace(/á/,"A");
            if (str.charAt(i)=="é") str = str.replace(/é/,"E");
            if (str.charAt(i)=="í") str = str.replace(/í/,"I");
            if (str.charAt(i)=="ó") str = str.replace(/ó/,"O");
            if (str.charAt(i)=="ú") str = str.replace(/ú/,"U");
            if (str.charAt(i)=="ñ") str = str.replace(/ñ/,"N");
            if (str.charAt(i)=="Á") str = str.replace(/Á/,"A");
            if (str.charAt(i)=="É") str = str.replace(/É/,"E");
            if (str.charAt(i)=="Í") str = str.replace(/Í/,"I");
            if (str.charAt(i)=="Ó") str = str.replace(/Ó/,"O");
            if (str.charAt(i)=="Ú") str = str.replace(/Ú/,"U");
            if (str.charAt(i)=="Ñ") str = str.replace(/Ñ/,"N");
        }
        return str;
      }

    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHBfGYjm5EKqzjXRPWJHHtxCivcFOHqyM&callback=initMap">
    </script>
    <script src="../static/vendor/jquery/dist/jquery.min.js"></script>

  </body>
</html>