{% include "header.html" %}
    
    <section>
		<div class="page-content p-t-40 p-b-90">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-md-push-4">
						<!-- .register-1-->
						<div class="register-1">
							<form class="theme-form" method="post" onsubmit="return enviarForm();">
								<div class="header-2" style="color: #649c47" align="center"><h3>REGISTRAR PRODUCTOR</h3></div>
                                <select id="typeIdentification" class="theme-input-text">
                                    <option selected>Cedula de Ciudadanía</option>
                                    <option>Cedula de Extranjería</option>
                                    <option>Pasaporte</option>
                                </select><br></br>
								<input id="identificationNumber" class="theme-input-text" type="text" placeholder="Número de Identificación*" required pattern="[A-Za-z0-9]+" title="Escriba solo caracteres Alfanuméricos"/>
								<input id="image" class="theme-input-text" type="url" placeholder="URL Imagen*" required pattern="https?://.+" title="Incluya http:// o https://" />
								<input id="name" class="theme-input-text" type="text" placeholder="Nombre*" required pattern="[ A-Za-zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙÑñ.-]+" title="Escriba solo caracteres alfabéticos"/>
                                <textarea id="description" class="theme-input-text" rows="6" cols="40" placeholder="Descripción" required minlength="150" maxlength="500"></textarea>
								<input id="address" class="theme-input-text" type="text" placeholder="Dirección*" required pattern="[ 0-9A-Za-zñÑáéíóúÁÉÍÓÚ#_.-]+" title="Solo se aceptan letras mayúsculas, minúsculas, números, tildes y los caracteres ñÑ#-_."/>
								<input id="city" class="theme-input-text" type="text" placeholder="Ciudad" required pattern="[ A-Za-zñÑáéíóúÁÉÍÓÚ]+" title="Escriba solo caracteres alfabéticos"/>
								<input id="latitude" name="latitude" type="hidden" value="0.0" />
								<input id="longitude" name="longitude" type="hidden" value="0.0" />
								<input id="phoneNumber" class="theme-input-text" type="text" placeholder="Número de Teléfono*" required pattern="[0-9()+-]{7,15}" title="Longitud entre 7 y 15 caracteres"/>
								<input id="cooperative" name="cooperative" type="hidden" value="1" />
								<input id="active" name="active" type="hidden" value="false" />
								<button class="au-btn au-btn-border au-btn-radius btn-block btn-submit" type="submit">REGISTRAR</button>
							</form>
						</div>
						<!-- end .register-1-->
					</div>
				</div>
			</div>
		</div>
    </section>

{% include "footer.html" %}
<script src="../static/js/regProducer.js"></script>

</body>

</html>