{% include "header.html" %}
<button id="modalButton" style="display:none" type="button" class="btn btn-primary" data-toggle="modal"
        data-target="#exampleModalLong">
    Launch demo modal
</button>

<button id="modalPayment" style="display:none" type="button" class="btn btn-primary" data-toggle="modal"
        data-target="#payment">
    Launch demo modal
</button>

<div class="modal fade" id="payment" tabindex="-1" role="dialog" aria-labelledby="payment" aria-hidden="true">
    <div class="modal-dialog" role="document" data-backdrop="static" data-keyboard="false">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="paymentm">Registro Exitoso</h5>
            </div>
            <div class="modal-body">
                ¡SOLICITUD EXITOSA! Su solicitud estará en proceso de revisión,<br> el administrador se comunicará con usted cuando termine el proceso.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="location.href='{% url 'index' %}'">Gracias
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal  Error -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">¡HA OCURRIDO UN ERROR!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Intente de nuevo.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Entiendo</button>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="section primary-color-background">
        <div class="container">
            <div class="p-t-70 p-b-85">
                <!-- Heading page-->
                <div class="heading-page-1">
                    <h3>Registrar Productor</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="page-content p-t-40 p-b-90">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-push-4">
                    <!-- .register-1-->
                    <div class="register-1">
                        <form class="theme-form" method="post" onsubmit="return enviarForm();">
                            <select id="typeIdentification" class="theme-input-text">
                                <option selected>Cedula de Ciudadanía</option>
                                <option>Cedula de Extranjería</option>
                                <option>Pasaporte</option>
                            </select><br></br>
                            <input id="identificationNumber" class="theme-input-text" type="text" placeholder="Número de Identificación*" required pattern="[A-Za-z0-9]+" title="Escriba solo caracteres Alfanuméricos"/>
                            <input id="image" class="theme-input-text" type="url" placeholder="URL Imagen*" required pattern="https?://.+" title="Incluya http:// o https://" />
                            <input id="name" class="theme-input-text" type="text" placeholder="Nombre*" required pattern="[ A-Za-zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙÑñ.-]+" title="Escriba solo caracteres alfabéticos"/>
                            <input id="username" class="theme-input-text" type="text" placeholder="Nombre de usuario*" required pattern="[ 0-9A-Za-z_.-]+" title="Solo se aceptan letras mayúsculas, minúsculas, números y los caracteres -_." minlength="6" maxlength="15"/>
                            <input id="password1" class="theme-input-text" type="password" placeholder="Contraseña*" minlength="8" maxlength="15" required title="Longitud Mímima 8 y Máxima 15 caracteres"/>
                            <input id="email" class="theme-input-text" type="email" placeholder="Email*" required pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}"/>
                            <textarea id="description" class="theme-input-text" rows="6" cols="40" placeholder="Descripción*" required minlength="150" maxlength="500"></textarea>
                            <input id="address" class="theme-input-text" type="text" placeholder="Dirección*" required pattern="[ 0-9A-Za-zñÑáéíóúÁÉÍÓÚ#_.-]+" title="Solo se aceptan letras mayúsculas, minúsculas, números, tildes y los caracteres ñÑ#-_."/>
                            <input id="city" class="theme-input-text" type="text" placeholder="Ciudad" required pattern="[ A-Za-zñÑáéíóúÁÉÍÓÚ]+" title="Escriba solo caracteres alfabéticos"/>
                            <input id="latitude" name="latitude" type="hidden" value="0.0" />
                            <input id="longitude" name="longitude" type="hidden" value="0.0" />
                            <input id="phoneNumber" class="theme-input-text" type="text" placeholder="Número de Teléfono*" required pattern="[0-9()+-]{7,15}" title="Longitud entre 7 y 15 caracteres"/>
                            <input id="cooperative" name="cooperative" type="hidden" value="1" />
                            <input id="active" name="active" type="hidden" value="false" />
                            <input id="is_producer" name="is_producer" type="hidden" value="true" />
                            <button class="au-btn au-btn-border au-btn-radius btn-block btn-submit" type="submit">REGISTRAR</button>
                        </form>
                    </div>
                    <!-- end .register-1-->
                </div>
            </div>
        </div>
    </div>
</section>

{% include "footer.html" %}
<script>
    function enviarForm() {


        var info = {typeIdentification: $('#typeIdentification').val(),
                    identificationNumber : $('#identificationNumber').val(),
                    image: $('#image').val(),
                    name: $('#name').val(),
                    username: $('#username').val(),
                    password1: $('#password1').val(),
                    email: $('#email').val(),
                    description: $('#description').val(),
                    address: $('#address').val(),
                    city: quitaAcentos($('#city').val().toUpperCase()),
                    latitude: $('#latitude').val(),
                    longitude: $('#longitude').val(),
                    phoneNumber: $('#phoneNumber').val(),
                    cooperative: $('#cooperative').val(),
                    products: $('#products').val(),
                    active: $('#active').val(),
                    is_producer: $('#is_producer').val()
                    };

        $.ajax({
            type: "POST",
            url: "{% url 'producers-create' %}",
            data: JSON.stringify(info),
            contentType: "application/json; charset=UTF-8",
            dataType: "json",
            success: function(data, textStatus, xhr) {
                if (xhr.status == 200){
                    $("#modalPayment").click();
                }else{
                    $("#modalButton").click();
                }
            },
            failure: function(error) {
                $("#modalButton").click();
            }
        });

        return false;
    }

     function quitaAcentos(str){
        for (var i=0;i<str.length;i++){
        //Sustituye "á é í ó ú"
            if (str.charAt(i)=="á") str = str.replace(/á/,"A");
            if (str.charAt(i)=="é") str = str.replace(/é/,"E");
            if (str.charAt(i)=="í") str = str.replace(/í/,"I");
            if (str.charAt(i)=="ó") str = str.replace(/ó/,"O");
            if (str.charAt(i)=="ú") str = str.replace(/ú/,"U");
            if (str.charAt(i)=="ñ") str = str.replace(/ñ/,"N");
            if (str.charAt(i)=="Á") str = str.replace(/Á/,"A");
            if (str.charAt(i)=="É") str = str.replace(/É/,"E");
            if (str.charAt(i)=="Í") str = str.replace(/Í/,"I");
            if (str.charAt(i)=="Ó") str = str.replace(/Ó/,"O");
            if (str.charAt(i)=="Ú") str = str.replace(/Ú/,"U");
            if (str.charAt(i)=="Ñ") str = str.replace(/Ñ/,"N");
        }
        return str;
     }
</script>

</body>

</html>