<!DOCTYPE html>
{% load static%}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="witemth=device-witemth, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "css/cart.back.css"%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static "js/js.cookie.js"%}"></script>
    <script src="{% static "js/cartmap.js"%}"></script>
    <script src="{% static "js/cartgui.back.js"%}"></script>
    <meta charset="utf-8">
    <title>Shopping Cart</title>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Marketplace</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#">
              <span class="glyphicon glyphicon-list-alt"></span>
              Carrito
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="products">
        <div class="holder">
          <div class="image">
            <img src="{% static "facebook.png" %}" height="200" witemth="200" alt="">
          </div>
          <div class="overlap">
            <p class="item">c1p1e1</p>
            <p class="quantity"></p>
            <div class="glyphholder plus">
              <span class="glyphicon glyphicon-plus"></span>
            </div>
            <br>
            <div class="glyphholder minus">
              <span class="glyphicon glyphicon-minus"></span>
            </div>
            <br>
            <div class="glyphholder remove">
              <span class="glyphicon glyphicon-remove"></span>
            </div>
          </div>
        </div>
        <div class="holder">
          <div class="image">
            <img src="{% static "Logo.png" %}" height="200" witemth="200" alt="">
          </div>
          <div class="overlap">
            <p class="item">c1p2e1</p>
            <p class="quantity"></p>
            <div class="glyphholder plus">
              <span class="glyphicon glyphicon-plus"></span>
            </div>
            <br>
            <div class="glyphholder minus">
              <span class="glyphicon glyphicon-minus"></span>
            </div>
            <br>
            <div class="glyphholder remove">
              <span class="glyphicon glyphicon-remove"></span>
            </div>
          </div>
        </div>
        <div class="holder">
          <div class="image">
            <img src="{% static "pinterest.png" %}" height="200" witemth="200" alt="">
          </div>
          <div class="overlap">
            <p class="item">c1p1e2</p>
            <p class="quantity"></p>
            <div class="glyphholder plus">
              <span class="glyphicon glyphicon-plus"></span>
            </div>
            <br>
            <div class="glyphholder minus">
              <span class="glyphicon glyphicon-minus"></span>
            </div>
            <br>
            <div class="glyphholder remove">
              <span class="glyphicon glyphicon-remove"></span>
            </div>
          </div>
        </div>
        <div class="holder">
          <div class="image">
            <img src="{% static "twitter.png" %}" height="200" witemth="200" alt="">
          </div>
          <div class="overlap">
            <p class="item">c1p4e5</p>
            <p class="quantity"></p>
            <div class="glyphholder plus">
              <span class="glyphicon glyphicon-plus"></span>
            </div>
            <br>
            <div class="glyphholder minus">
              <span class="glyphicon glyphicon-minus"></span>
            </div>
            <br>
            <div class="glyphholder remove">
              <span class="glyphicon glyphicon-remove"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
