{% include "header.html" %}
<button id="modalButton" style="display:none" type="button" class="btn btn-primary" data-toggle="modal"
        data-target="#exampleModalLong">
    Launch demo modal
</button>

<button id="modalPayment" style="display:none" type="button" class="btn btn-primary" data-toggle="modal"
        data-target="#payment">
    Launch demo modal
</button>

<div class="modal fade" id="payment" tabindex="-1" role="dialog" aria-labelledby="payment" aria-hidden="true">
    <div class="modal-dialog" role="document" data-backdrop="static" data-keyboard="false">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="paymentm">Registro de Producto exitoso</h5>
            </div>
            <div class="modal-body">
                El registro del producto se realizó de manera satisfactoria
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="location.href='{% url 'index' %}'">Gracias
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal  Error -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">¡HA OCURRIDO UN ERROR!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Intente de nuevo.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Entiendo</button>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="section primary-color-background">
        <div class="container">
            <div class="p-t-70 p-b-85">
                <!-- Heading page-->
                <div class="heading-page-1">
                    <h3>Agregar productos Semanales</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="page-content p-t-40 p-b-90">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-push-4">
                    <!-- .register-1-->
                    <div class="register-1">
                        <form class="theme-form" method="post" onsubmit="return enviarForm();">
                            <select id="products" class="theme-input-text"><option value="generic"> Seleccione un producto</option></select></br></br>
                            <input id="quantity" class="theme-input-text" type="number" placeholder="Cantidad*" required pattern="[0-9.]+" title="Utilice . decimal "/>
                            <input id="price" class="theme-input-text" type="text" placeholder="Precio" required pattern="[0-9.]+" title="Utilice . decimal "/>
                            <select id="type" class="theme-input-text"><option value="generic"> Seleccione un método</option> </select></br></br>
                            <button class="au-btn au-btn-border au-btn-radius btn-block btn-submit" type="submit">ELEGIR PRODUCTO</button>
                        </form>
                        <form action="/registerProducts" onclick="">
                            <button class="au-btn au-btn-border au-btn-radius btn-block btn-submit" type="submit">AGREGAR NUEVO PRODUCTO</button>
                        </form>
                    </div>
                    <!-- end .register-1-->
                </div>
            </div>
        </div>
    </div>
</section>

{% include "footer.html" %}
<script src="../../static/js/regProductsWeek.js"></script>
<script>
function enviarForm() {

        var idUser = {{ user.producer.id }};

        var info = {id: $('#products').val(),
                    quantity: $('#quantity').val(),
                    price: $('#price').val(),
                    type: $('#type').val(),
                    producer: idUser,
                    };

        $.ajax({
            type: "POST",
            url: "{% url 'update-product-stock' %}",
            data: JSON.stringify(info),
            contentType: "application/json; charset=UTF-8",
            dataType: "json",
            success: function(data, textStatus, xhr) {
                if (xhr.status == 200){
                    $("#modalPayment").click();
                }else{
                    $("#modalButton").click();
                }
            },
            failure: function(error) {
                $("#modalButton").click();
            }
        });

        return false;
    }
</script>

</body>

</html>