<!DOCTYPE html>
<!--if IE 8html.no-js.lt-ie9(lang='en')
-->
<!-- [if gt IE 8] <!-->
<html class="no-js" lang="en">
<!-- <![endif]-->

<head>
    <!--
    Basic Page Needs
    ==================================================
    -->
    <meta charset="UTF-8">
    <title>Homepage - MarketPlace</title>
    <!--
    Mobile Specific Metas
    ==================================================
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
    CSS
    ==================================================
    -->
    <link href="../static/fonts/fonts.css" rel="stylesheet">
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/vendor/css-hamburgers/dist/hamburgers.min.css" rel="stylesheet">
    <link href="../static/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css" rel="stylesheet">
    <link href="../static/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="../static/vendor/revolution/css/layers.css" rel="stylesheet">
    <link href="../static/vendor/revolution/css/navigation.css" rel="stylesheet">
    <link href="../static/vendor/revolution/css/settings.css" rel="stylesheet">
    <link href="../static/vendor/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">
    <link href="../static/css/switcher.css" rel="stylesheet">
    <link href="../static/css/colors/green.css" rel="stylesheet" id="colors">
    <link href="../static/css/retina.css" rel="stylesheet">
    <!--
    Favicons
    ==================================================
    -->
    <script src="../static/js/modernizr-custom.js"></script>
</head>

<body>
    <!-- page load-->
    <div class="page-loader">
        <div class="loader"></div>
    </div>
    <header>
        <!-- header-2-->
        <div class="section dark-background">
            <div class="container">
                <div class="header-2">
                    <div class="header-left">
                        <p>
                            <i class="fa fa-map-marker"></i>Cra. 1 # 18a-12, Bogotá / Colombia
                            <span>|</span>
                            <i class="fa fa-clock-o"></i> Entrega de pedidos 02:00 Pm - 04:00 Pm</p>
                    </div>
                    <div class="header-right">
                        <div class="header-login">
                            <a href="login.html">
                                <i class="fa fa-user"></i>Log in</a>
                            <span>/</span>
                            <a href="register.html">Register</a>
                        </div>
                        <span class="divider">|</span>
                        <!--<div class="header-search">
                            <button class="fa fa-search"></button>
                            <div class="search-box">
                                <input type="text" placeholder="Search..." />
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- end header-2-->
    </header>
    <nav>
        <!-- nav-2-->
        <div class="section white-background" id="js-navbar">
            <div class="container">
                <div class="nav-1 nav-2">
                    <button class="hamburger has-animation hamburger--collapse" id="toggle-icon">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                    <div class="logo">
                        <a href="../../Orders/index.html">
                            <img src="../static/images/icons/ic-logo-01.png" alt="Ecofood" />
                        </a>
                    </div>
                    <div class="cart-icon-holder">
                        <div class="cart-shopping js-mini-shopcart">
                            <span class="totals">2</span>
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                    </div>
                    <ul class="nav-menu">
                        <li class="has-drop">
                            <a class="has-text-color-hover" href="../../Orders/index.html">HOME</a>
                            <button class="btn-caret fa fa-angle-right"></button>
                            <ul class="drop-menu left">
                                <li>
                                    <a class="has-bg-color-hover" href="../../Orders/index.html">Home 1</a>
                                </li>
                                <li>
                                    <a class="has-bg-color-hover" href="index1.html">Home 2</a>
                                </li>
                                <li>
                                    <a class="has-bg-color-hover" href="index2.html">Home 3</a>
                                </li>
                                <li>
                                    <a class="has-bg-color-hover" href="index3.html">Home 4</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-drop">
                            <a class="has-text-color-hover" href="blog-list-with-sidebar-1.html">SHOP</a>
                            <button class="btn-caret fa fa-angle-right"></button>
                            <ul class="drop-menu left">
                                <li>
                                    <a class="has-bg-color-hover" href="shop-categories.html">Shop categories</a>
                                </li>
                                <li>
                                    <a class="has-bg-color-hover" href="shop-list-with-sidebar.html">Shop list 1</a>
                                </li>
                                <li>
                                    <a class="has-bg-color-hover" href="shop-list-without-sidebar.html">Shop list 2</a>
                                </li>
                                <li>
                                    <a class="has-bg-color-hover" href="shopping-cart.html">Shopping cart</a>
                                </li>
                                <li>
                                    <a class="has-bg-color-hover" href="checkout.html">Check out</a>
                                </li>
                                <li>
                                    <a class="has-bg-color-hover" href="wishlist-page.html">Wishlist Page</a>
                                </li>
                                <li>
                                    <a class="has-bg-color-hover" href="product-details-1.html">Product Details</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-drop">
                            <a class="has-text-color-hover" href="about-1.html">ABOUT</a>
                            <button class="btn-caret fa fa-angle-right"></button>
                            <ul class="drop-menu left">
                                <li>
                                    <a class="has-bg-color-hover" href="about-1.html">About 1</a>
                                </li>
                                <li>
                                    <a class="has-bg-color-hover" href="about-2.html">About 2</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-drop">
                            <a class="has-text-color-hover" href="#">PAGES</a>
                            <button class="btn-caret fa fa-angle-right"></button>
                            <ul class="drop-menu left">
                                <li>
                                    <a class="has-bg-color-hover" href="404.html">404 not found!</a>
                                </li>
                                <li>
                                    <a class="has-bg-color-hover" href="faqs.html">FAQs</a>
                                </li>
                                <li>
                                    <a class="has-bg-color-hover" href="login.html">Login</a>
                                </li>
                                <li>
                                    <a class="has-bg-color-hover" href="register.html">Register</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-drop">
                            <a class="has-text-color-hover" href="blog-list-with-sidebar-1.html">BLOG</a>
                            <button class="btn-caret fa fa-angle-right"></button>
                            <ul class="drop-menu bottom-left">
                                <li class="has-drop">
                                    <a class="has-bg-color-hover" href="blog-list-with-sidebar-1.html">BLog list</a>
                                    <button class="btn-caret fa fa-angle-right"></button>
                                    <ul class="drop-menu top-right">
                                        <li>
                                            <a class="has-bg-color-hover" href="blog-list-with-sidebar-1.html">Blog List 1</a>
                                        </li>
                                        <li>
                                            <a class="has-bg-color-hover" href="blog-list-with-sidebar-2.html">Blog List 2</a>
                                        </li>
                                        <li>
                                            <a class="has-bg-color-hover" href="blog-masonry.html">Blog List 3</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-drop">
                                    <a class="has-bg-color-hover" href="blog-details-with-sidebar-1.html">Blog Details</a>
                                    <button class="btn-caret fa fa-angle-right"></button>
                                    <ul class="drop-menu top-right">
                                        <li>
                                            <a class="has-bg-color-hover" href="blog-details-with-sidebar-1.html">Blog Details 1</a>
                                        </li>
                                        <li>
                                            <a class="has-bg-color-hover" href="blog-details-without-sidebar-1.html">Blog Details 2</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-text-color-hover" href="contact.html">CONTACT</a>
                        </li>
                    </ul>
                    <div class="mini-shopcart">
                        <div class="head-mini-shopcart">
                            <p>2 items in your cart</p>
                        </div>
                        <div class="content-mini-shopcart">
                            <div class="item-mini-shopcart">
                                <div class="item-image">
                                    <img src="http://templates.aucreative.co/ecofood/images/carousel-01.jpg" alt="shopping cart" />
                                </div>
                                <div class="item-content">
                                    <h3 class="name">Strawberries, 16 oz</h3>
                                    <p class="price">1 x $2.50</p>
                                    <button class="btn-del fa fa-close"></button>
                                </div>
                            </div>
                            <div class="item-mini-shopcart">
                                <div class="item-image">
                                    <img src="../static/images/shopping-cart-item-02.jpg" alt="shopping cart" />
                                </div>
                                <div class="item-content">
                                    <h3 class="name">Broccoli, bunch</h3>
                                    <p class="price">2 x $4.00</p>
                                    <button class="btn-del fa fa-close"></button>
                                </div>
                            </div>
                        </div>
                        <div class="foot-mini-shopcart">
                            <p class="total-shopcart">Total: $6.50</p>
                            <div class="mini-shopcart-action">
                                <button class="au-btn au-btn-border au-btn-radius btn-viewcart">VIEW CART</button>
                                <button class="au-btn au-btn-primary au-btn-radius btn-checkout">CHECK OUT</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end nav-2-->
    </nav>
    <section>
        <!-- START REVOLUTION SLIDER 5.0-->
        <div class="slider-2 slider-1">
            <div class="rev_slider" id="js-slider-1" style="display:none;">
                <ul>
                    <li class="item-1" data-transition="fade">
                        <!-- MAIN IMAGE-->
                        <img class="rev-slidebg rev-slidebg" src="../static/images/carousel-06.jpg" alt="#" data-bgposition="top center" data-bgfit="normal" data-bgrepeat="repeat-x" data-bgparallax="off" data-no-retina="data-no-retina" />
                        <h3 class="tp-caption tp-resizeme caption-1" data-frames="[{&quot;from&quot;:&quot;y:50px;opacity:0;&quot;,&quot;speed&quot;:1500,&quot;to&quot;:&quot;o:1;&quot;,&quot;delay&quot;:1500,&quot;ease&quot;:&quot;Power4.easeOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:500,&quot;to&quot;:&quot;y:-50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power2.easeIn&quot;}]"
                        data-x="center" data-hoffset="['300', '0', '0', '0']" data-responsive="off" data-y="['center']" data-voffset="['-150', '-150', '-150', '-150']" data-width="['700', '700', '700', '700']">Organic Green Tea
                            <img class="tee" src="../static/images/icons/ic-tee.png" alt="tee" width="100" height="50" />
                        </h3>
                        <div class="tp-caption tp-resizeme caption-2" data-frames="[{&quot;delay&quot;:1600,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]"
                        data-x="center" data-hoffset="['300', '0', '0', '0']" data-width="['700', '700', '480', '480']" data-y="['center']" data-voffset="['-30', '-30', '10', '10']" data-responsive="off">
                            Mauris felis libero, consequat ac tempor vel, finibus a dolor quisque quam facilisis vitae urna sit amet, euismod blandit ante. Fusce malesuada pellentesque tristique.
                        </div>
                    </li>
                    <li class="item-1 item-2" data-transition="fade">
                        <!-- MAIN IMAGE-->
                        <img class="rev-slidebg rev-slidebg" src="../static/images/carousel-01.jpg" alt="#" data-bgposition="top center" data-bgfit="normal" data-bgrepeat="repeat-x" data-bgparallax="off" data-no-retina="data-no-retina" />
                        <h3 class="tp-caption tp-resizeme caption-1" data-frames="[{&quot;from&quot;:&quot;y:50px;opacity:0;&quot;,&quot;speed&quot;:1500,&quot;to&quot;:&quot;o:1;&quot;,&quot;delay&quot;:1500,&quot;ease&quot;:&quot;Power4.easeOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:500,&quot;to&quot;:&quot;y:-50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power2.easeIn&quot;}]"
                        data-x="center" data-hoffset="['-250', '0', '0', '0']" data-responsive="off" data-y="['center']" data-voffset="['-200', '-150', '-250', '-250']" data-width="['700', '700', '480', '480']">Healthy ingredients</h3>
                        <div class="tp-caption tp-resizeme caption-2" data-frames="[{&quot;delay&quot;:1600,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]"
                        data-x="center" data-hoffset="['-250', '0', '0', '0']" data-width="['600', '700', '480', '450']" data-y="['center']" data-voffset="['-80', '-30', '50', '-50']" data-responsive="off">
                            Integer sit amet mi quis ipsum vulputate tempor sit amet at lorem. Pellentesque ultricies placerat erat, efficitur luctus urna venenatis nec.
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <div class="section white-background p-t-100 p-b-100">
            <div class="container">
                <!-- Heading Section-->
                <div class="heading-section-1">
                    <h3>Ordenes</h3>
                </div>
                <div class="section white-background" style="margin-top: 30px">
                    <table id="freeze-table" class="table table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>N Pedido</th>
                                <th>Costo</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="orders">

                        </tbody>
                    </table>
                    <!--table class="table table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Precio Unitario</th>
                                <th>Total</th>
                                <th>Estado</th>
                                <th>Operaciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>h</td>
                                <td>h</td>
                                <td>h</td>
                                <td>h</td>
                                <td>h</td>
                                <td>h</td>
                                <td>h</td>
                            </tr>
                            <tr>
                                <td>h</td>
                                <td>h</td>
                                <td>h</td>
                                <td>h</td>
                                <td>h</td>
                                <td>h</td>
                                <td>h</td>
                            </tr>
                                {#% for test in tests %#}
                                <tr>
                                    <td>{{ test.number }}</td>
                                    <td>{{ test.name }}</td>
                                    <td>{{ test.category }}</td>
                                    <td>{{ test.labs }}</td>
                                    <td>{{ test.description }}</td>
                                    <td>{{ test.minimum_sample }}</td>
                                </tr>
                            {#% endfor %#}
                        </tbody>
                    </table-->
                </div>
            </div>
        </div>
    </section>
    <footer>
        <!--.footer-2-->
        <div class="footer-1 footer-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="footer-introduce">
                            <div class="footer-logo">
                                <img src="../static/images/icons/ic-logo-02.png" alt="logo ecofood" />
                            </div>
                            <div class="footer-intro">
                                <p>In vel auctor nunc, ut sodales tortor. Fusce venenatis sit amet mauris sed venenatis. Maecenas eu urna vitae ligula ornare eleifend in a lorem.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="footer-services">
                            <div class="footer-heading">
                                <h3>CUSTOMER SERVICES</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul>
                                        <li>
                                            <a href="#">Product recall notices</a>
                                        </li>
                                        <li>
                                            <a href="#">Order information</a>
                                        </li>
                                        <li>
                                            <a href="#">Shipping & returns</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul>
                                        <li>
                                            <a href="#">Privacy policy</a>
                                        </li>
                                        <li>
                                            <a href="#">Terms & conditions</a>
                                        </li>
                                        <li>
                                            <a href="#">FAQs</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="footer-contact">
                            <div class="footer-heading">
                                <h3>CONTACT US</h3>
                            </div>
                            <ul>
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    <span>256 address name, New York city</span>
                                </li>
                                <li>
                                    <i class="fa fa-clock-o"></i>
                                    <span>7:30 Am - 11:00 Pm. Monday - Sunday</span>
                                </li>
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <span>(044) 359 0173</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="footer-copyright">
                        <p>© 2017 Designed by AuThemes. All rights reserved.</p>
                    </div>
                    <ul class="footer-socials">
                        <li>
                            <a class="fa fa-facebook" href="#"></a>
                        </li>
                        <li>
                            <a class="fa fa-google-plus" href="#"></a>
                        </li>
                        <li>
                            <a class="fa fa-youtube" href="#"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end .footer-2-->
    </footer>
    <!-- quick-view-1-->
    <div class="modal fade quick-view-1" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button class="fa fa-close" type="button" data-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-5">
                            <!-- .product-detail-image-1-->
                            <div class="product-detail-image-1">
                                <div class="product-primary-image owl-carousel" data-carousel-items="1" data-carousel-dotsData="true" data-carousel-nav="true" data-carousel-dots="true" data-carousel-xs="1" data-carousel-sm="1" data-carousel-md="1" data-carousel-lg="1" data-carousel-animateout="fadeOut"
                                data-carousel-animatein="fadeIn">
                                    <img data-dot="&lt;img src='../static/images/product-details-image-05.jpg'&gt;" src="../static/images/product-details-image-02.jpg" alt="product detail image" />
                                    <img data-dot="&lt;img src='../static/images/product-details-image-06.jpg'&gt;" src="../static/images/product-details-image-03.jpg" alt="product detail image" />
                                    <img data-dot="&lt;img src='../static/images/product-details-image-07.jpg'&gt;" src="../static/images/product-details-image-04.jpg" alt="product detail image" />
                                    <img data-dot="&lt;img src='../static/images/product-details-image-08.jpg'&gt;" src="../static/images/product-details-image-01.jpg" alt="product detail image" />
                                </div>
                            </div>
                            <!-- end .product-detail-image-1-->
                        </div>
                        <div class="col-md-7">
                            <!-- .product-detail-content-1-->
                            <div class="product-detail-content-1">
                                <div class="product-name">
                                    <h3>Organic strawberries</h3>
                                </div>
                                <div class="product-cert">
                                    <a href="#">
                                        <img src="../static/images/icons/ic-product-cert-01.png" alt="product cert" />
                                    </a>
                                    <a href="#">
                                        <img src="../static/images/icons/ic-product-cert-02.png" alt="product cert" />
                                    </a>
                                    <a href="#">
                                        <img src="../static/images/icons/ic-product-cert-03.png" alt="product cert" />
                                    </a>
                                </div>
                                <div class="product-price">
                                    <p>$5.99 /ea</p>
                                </div>
                                <div class="product-introduce">
                                    <p>Morbi molestie nisi purus, vitae vestibulum turpis lacinia sit amet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia.</p>
                                    <p>In Stock</p>
                                    <p>SKU: 1952C14</p>
                                </div>
                                <div class="prodcut-add-to-cart">
                                    <input class="input-size" type="text" value="1" />
                                    <button class="au-btn au-btn-primary au-btn-radius btn-add-to-cart" type="submit">ADD TO CART</button>
                                    <a class="au-btn au-btn-border au-btn-radius btn-add-to-wishlist" href="#">ADD TO WISHLIST</a>
                                </div>
                            </div>
                            <!-- end .product-detail-content-1-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end quick-view-1-->
    <div id="up-to-top">
        <i class="fa fa-angle-up"></i>
    </div>
    <!-- end page load-->
    <!--
    Javascripts
    ==================================================
    -->
    <script src="../static/vendor/jquery/dist/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../static/vendor/retinajs/dist/retina.min.js"></script>
    <script src="../static/vendor/SmoothScroll/SmoothScroll.js"></script>
    <script src="../static/js/switcher-custom.js"></script>
    <script src="../static/vendor/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="../static//vendor/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="../static/vendor/owl.carousel/dist/owl.carousel.min.js"></script>
    <!--
    | (Load Extensions only on Local File Systems !
    | The following part can be removed on Server for On Demand Loading)
    -->
    <script type="text/javascript" src="../static/vendor/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script type="text/javascript" src="../static/vendor/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="../static/vendor/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="../static/vendor/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="../static/vendor/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="../static/vendor/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="../static/vendor/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="../static/vendor/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="../static/js/revo-slider-custom.js"></script>
    <script src="../static/js/owl-custom.js"></script>
    <script src="../static/js/main.js"></script>
    <!--
    End Document
    ==================================================
    -->
    <script>
        $( document ).ready(function() {
            var url =  window.location.origin + "/api/";
            var url2 = window.location.origin + "/";
            var  _doAjax = function (sType, uri, data, fnSuccess, fnError, _async) {
                 if (!data) data = {};
                 if (!fnError) fnError = function (err) {
                     console.log(err);
                 };
                 if (!_async) _async = true;
                 $.ajax({
                     type: sType,
                     url: uri,
                     data: data,
                     async: _async,
                     contentType: "application/json; charset=utf-8",
                     dataType: "json",
                     success: fnSuccess,
                     error: fnError
                 });
            };

            var selectedOrder = {};

            var getCurrency = function (value) {
                return '$' + value.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
            };

            var getDetails = function (order) {
                selectedOrder = order;
                var tbody = "";
                var total = 0;
                $.each(order.items, function( index, value ) {
                    total += value.quantityTotal*value.product.price;
                    tbody +=   "<tr>"
                             +   "<td>" + value.product.name + "</td>"
                             +   "<td>" + value.quantityTotal + "</td>"
                             +   "<td>" + getCurrency(value.product.price) +"</td>"
                             + "</tr>"
                });
                $( "#nOrder" ).empty().append( order.id );
                $( "#user" ).empty().append( order.orders[0].Username );
                $( "#products" ).empty().append( tbody );
                $( "#totalOrder" ).empty().append( getCurrency (total) );
                $( "#dateOrder" ).empty().append( order.createdDate );
                //console.log(order.orders[0].Status)
                $("#lstatus option").filter(function() {
                    //may want to use $.trim in here
                    return $(this).text() == order.orders[0].Status;
                }).prop('selected', true);
                //$("#divlstatus select").text(order.orders[0].Status);
                //$('#divlstatus option:contains(' + order.orders[0].Status + ')');
            };

            var updateOrder = function () {
                //console.log( $('#lstatus').find(":selected").val());
                var status = $('#lstatus').find(":selected").val();
                if(status == 0) {
                    alert("Seleccione un estado!");
                    return;
                }
                var order = {};
                order.id = selectedOrder.orders[0].id
                order.user = selectedOrder.orders[0].idUser;
                order.status = status;
                order.statusDate = new Date();
                order.schedule = selectedOrder.orders[0].idSchedule ;
                order.paymentMethod = selectedOrder.orders[0].idPaymentMethod;
                order.shoppingCart = selectedOrder.orders[0].ShoppingCart;
                //console.log(JSON.stringify( order ));
                _doAjax("POST"
                        ,url2 + "updateOrder"
                        ,JSON.stringify( order )
                        ,function (resp) {
                            //console.log(resp)
                            $('#details').modal('toggle');
                            getOrders();
                        }
                        ,function (err) {
                            console.log(err);
                            $('#details').modal('toggle');
                            getOrders();
                        }
                        ,true);
            };

            $( "#updateOrder" ).click(function() {
                updateOrder();
            });

            var getOrders = function () {
                _doAjax("GET", url + "shoppingcar",{},function (resp) {
                    //console.log(resp)
                    var tbody = "";
                    $.each(resp, function( index, value ) {
                        var total = 0;
                        //console.log(value)
                        $.each(value.items, function( index2, value2 ) {
                            //console.log(value2)
                            total += value2.quantityTotal*value2.product.price;
                        });
                        tbody = tbody
                            + "<tr>"
                            + "<td>" + value.id + "</td>"
                            + "<td>" + getCurrency(total) + "</td>"
                            + "<td>" + value.orders[0].Status + "</td>"
                            + "<td id='" + value.id + "'><a href='#' data-toggle='modal' data-target='#details'>Cambiar Estado</a>" + "</td>"
                            + "</tr>";
                    });
                    //console.log(tbody)
                    $( "#orders" ).empty().append( tbody );

                    $('td').click(function () {
                        var col = $(this).parent().children().index($(this));
                        //console.log(col)
                        //console.log($(this).attr("id"))
                        if( col == 3) {
                             _doAjax("GET", url + "shoppingcar/" + $(this).attr("id"),{},function (resp) {
                                 //console.log(resp);
                                 getDetails(resp);
                             },null,true);
                        }
                    });

                },null,true);
            };
            var getOrderStatus = function () {
                _doAjax("GET", url + "orderstatus",{},function (resp) {
                    //console.log(resp)
                    var options = $("#lstatus");
                    $.each(resp, function() {
                        options.append($("<option />").val(this.id).text(this.status));
                    });
                },null,true);
            };
            getOrders();
            getOrderStatus();
        });
    </script>

    <!-- Modal -->
    <div id="details" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Detalle de pedido # <span id="nOrder"></span> </h4>
          </div>
          <div class="modal-body">
              <strong>Usuario: </strong><span id="user"> </span>
              <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody id="products">

                </tbody>
              </table>
              <strong> Total: </strong> <span id="totalOrder" ></span> <br>
              <strong> Fecha: </strong> <span id="dateOrder" ></span> <br> <br>
              <div id="divlstatus" class="form-group">
                 <label for="sel1"><strong> Estado: </strong> </label>
                 <select class="form-control" id="lstatus">
                     <option selected value="0">Seleccione un estado</option>
                 </select>
              </div>
          </div>
          <div class="modal-footer">
              <button id="updateOrder" type="button" class="btn btn-default" >Guardar</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
</body>

</html>